.dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 14px;
}

.sidebar a:hover {
  color: #585a59;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.mmain {
  flex: 1;
  padding: 40px;
  background: #f5f5f5;
  overflow-y: auto;
}

.mmain h1 {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
}

.chart-box {
  margin-top: 40px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}