.manage-product {
  padding: 20px;
}

.manage-product h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th {
  background: #111;
  color: white;
  padding: 12px;
  font-size: 14px;
}

.product-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.product-table tbody tr:hover {
  background: #f9f9f9;
}

.product-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.category-tag {
  background: #eee;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.desc {
  max-width: 200px;
}

.actions {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  width: 70px;
}

.btn.edit {
  background: #a9aaac;
  color: white;
}

.btn.delete {
  background: rgb(55, 53, 53);
  color: white;
}