.text-style{
    margin: auto;
    justify-content: center;
    margin-left: 42%;
}
.MaiN{
    display: flex;
    width: 80vw;
    margin-left: 30%;
}
.Sub{
    width:24.3%;
    margin: 5px;
}
.Sub img{
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 5%;
}
.rate{
    margin-left: 40%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}