.maiNN{
    text-align: center;
}
.flex{
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
}
.chart img{
    height: 450px;
    width: 500px;
}
.text h5,h1,p{
    text-align: center;
}
.text{
    margin-top: 5%;
}